[project]
	description = code jam source
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/babo (seirion)
[access "refs/for/refs/*"]
	read = group user/babo (seirion)
	push = group user/babo (seirion)
	label-Code-Review = -2..+2 group user/babo (seirion)
	label-Verified = -1..+1 group user/babo (seirion)
	rebase = group user/babo (seirion)
	removeReviewer = group user/babo (seirion)
	submit = group user/babo (seirion)
[access "refs/heads/*"]
	read = group user/babo (seirion)
	create = group user/babo (seirion)
	push = +force group user/babo (seirion)
	pushMerge = group user/babo (seirion)
[access "refs/tags/*"]
	push = +force group user/babo (seirion)
	pushTag = group user/babo (seirion)
	pushSignedTag = group user/babo (seirion)
